.abh
{
    display: inline-flex;
    gap: 20px;
    align-items: center;
    padding-left: 31px;
    margin-top: 144px;
}
.wner
{
    width: 2px;
height: 60px;
background: #EFFFFB;
}
.abh h3
{
    color: var(--WHITISH, #EFFFFB);
font-family: "Gemunu Libre";
font-size: 64px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin: 2px;
}

.abdet{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}
.abdet p{
    color: var(--WHITISH, #EFFFFB);
font-family: "Gemunu Libre";
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin: 2px;
/* margin-top: 60px; */
}
.abdet img  
{
    width: 35%;
    height: 35%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
   .abdet{
    display: block;
   }
   .abdet img{
     margin-left: 30%;
   }
    
}