.colllam {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 70%;
    height: 70%;
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%); /* Perfect centering */
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .colllam {
      width: 90vw; /* Responsive width based on the viewport */
      height: 90vw; /* Maintain 1:1 aspect ratio */
      position: absolute; /* Needed for centering */
      top: 60%; /* Vertically centered */
      left: 50%; /* Horizontally centered */
      transform: translate(-50%, -50%); /* Maintain perfect centering */
      overflow: hidden; /* Hide any overflow content */
    }
  }
