.headu
{
    /* background-image: url('../../img/headbg.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; */
    margin: 0;
    margin-bottom: 40px;
   
}
.hall
{
    display: flex;
    gap: 10px;
    align-items: center;
    height: 65vh;
    padding-left: 53px;
    padding-top: 100px;
   
}
.hdet p{
    color: var(--WHITISH, #EFFFFB);
font-family: "Gemunu Libre";
font-size: 115px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 2px;
}
.hdet h3{
    color: var(--WHITISH, #EFFFFB);
font-family: "Gemunu Libre";
font-size: 115px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin: 2px;
}
.thmd
{
    width: 100px;
    height: 100px;
}
.tit
{
    color: var(--WHITISH, #EFFFFB);
font-family: "Gemunu Libre";
font-size: 64px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: center;
margin: 0;
padding: 20px;
}
.aadi
{
    width: 70%;
    object-fit: contain;
    border-radius: 5px;
    margin-top: 150px;
    height: 100px;
    border-radius: 25px;
}

@media only screen and (max-width: 768px) {
    .headu{
        width: 100%;
        background-size: cover;
    }
    .hdet h3
    {
       font-size: 58px;
       word-break: break-all; 
    }
    .hdet p
    {
        font-size: 58px;
        word-break: break-all;
    }
    .collada{
        display: block;
        /* width: 100px;
        height: 100px; */
    }
    .hall{
        display: block;
        padding-top: 150px;
    }
  }