.navb {
    display: flex;
    justify-content: space-between; /* Distributes space between items */
    align-items: center; /* Vertically centers items */
    padding: 17px;
    width: 95%;
    margin: 0 auto; /* Centers the navbar horizontally */
    border-radius: 13px;
    border: 0.5px solid var(--WHITISH, #EFFFFB);
    background: rgba(76, 76, 76, 0.25);
    backdrop-filter: blur(9.05px);
    position: fixed; /* Ensures the navbar is fixed at the top */
    top: 0;
    left: 50%; /* Centers the navbar horizontally */
    transform: translateX(-50%); /* Corrects the offset caused by left: 50% */
    z-index: 1;
    transition: top 0.3s; /* Smooth transition for hiding/showing */
}

.navb.hidden {
    top: -100px; /* Moves navbar out of the viewport */
}


.navb img {
    width: 106px;
    height: 94px;
}

.ruter {
    display: inline-flex;
    align-items: center;
    gap: 22px;
}

.rutl {
    color: #FFF;
    font-family: "Gemunu Libre";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.ruter Link:hover {
    color: #FFD700;
}

.hlog {
    display: inline-flex;
    align-items: center;
    gap: 22px;
}

.hlog img {
    width: 47px;
    height: 47px;
}

.hlog p {
    color: var(--WHITISH, #EFFFFB);
    font-family: "Gemunu Libre";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nervara {
    width: 2px;
    height: 31px;
    background: #4F98CA;
}
