@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .loghd
    {
        width: 90%;
        display: flex;
justify-content: space-between;
align-items: center;
margin-left: auto;
margin-right: auto;
padding: 20px;
    }
    .submitform
    {
        width: 100%;
    }
.submithead
{
    color: #FFF;
text-align: center;
font-family: "Gemunu Libre";
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.submitselect
{
    border-radius: 6px;
background: var(--WHITISH, #EFFFFB);
display: block;
width: 90%;
height: 56px;
/* flex-shrink: 0; */
margin-left: auto;
margin-right: auto;
}
.submitform p
{
    color: #FFF;
text-align: left;
font-family: "Gemunu Libre";
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-left: 29px;
}
.submitspec
{
    color: #FFF;
text-align: left;
font-family: "Gemunu Libre";
font-size: 20px;
font-style: normal;
font-weight: 200;
line-height: normal;
padding-left: 29px;
}
.submitform button
{
    display: inline-flex;
padding: 13px 15px;
justify-content: center;
align-items: center;
gap: 10px;
border: none;
border-radius: 10px;
background: #35B873;
color: #FFF;
text-align: center;
font-family: "Gemunu Libre";
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
/* width: 95%; */
margin-left: auto;
margin-right: auto;
margin: 20px;
margin-bottom: 80px;
}
  }